html {
  box-sizing: border-box;
  background-color: #dbd6d0;
  font-family: "Bevan", cursive;
}

*, *::before, *::after {
  box-sizing: inherit;
}

body {
  margin: 0;
  padding: 0;
  list-style-type: none;
  text-align: center;
  background-color: #79766f;
  border: 3px solid #5a5750;
}

h1 {
  background-color: #79766f;
  text-align: center;
  color: #fff;
}

.navigation li {
  font-family: sans-serif;
  display: inline-block;
  margin: 0.01em 0.01em 0.01em;
  background-color: #703839;
  border-radius: 10px;
  text-align: center;
}

.navigation a {
  display: inline-block;
  padding: 0.5em 0.75em;
  background-color: #733737;
  border-radius: 4px;
  color: #fff;
  text-decoration: none;
}

.navigation a:hover {
  background-color: #ff332a;
  color: #fff;
}
